html
  head
    title= name
  body
    h1 Details about !{users.name}!
    p
        a(href='/users') All Users
    p
        a(href='/') Home Page
    h2 Phone
    p !{users.phone}
    h2 Email
    p !{users.email}
    h2 Address
    p !{users.address}
    h2 About
    p !{users.about}
