html
  head
    title= name
  body
    h1.user-title Details about !{users.name}!
    .navigation
      span
        a(href='/') Home Page
      span  / 
      span
        a(href='/users') All Users
    .phone
      h2 Phone
      p !{users.phone}
    .email
      h2 Email
      p !{users.email}
    .address
      h2 Address
      p !{users.address}
    .about
      h2 About
      p !{users.about}
